strawberryfield.strawberry_keynameprovider.*:
  type: config_entity
  label: 'Strawberry Key Name Providers config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
    pluginid:
      type: string
      label: 'Plugin ID'
    pluginconfig:
      type: strawberryfield.strawberry_keynameprovider.[%parent.pluginid]
    active:
      type: boolean
      label: 'Whether this plugin is active or not'

strawberryfield.strawberry_keynameprovider.jsonld:
  type: config_object
  label: 'Strawberry Key Name Provider JSONLD specific config'
  mapping:
    url:
      type: string
      label: 'JSON LD Content URI'
    filterurl:
      type: string
      label: 'Narrow down JSONLD document'
    keys:
      type: string
      label: 'Additional Keys to include'

strawberryfield.strawberry_keynameprovider.flavor:
  type: config_object
  label: 'Strawberry Key Name Provider Flavor (Service) specific config'
  mapping:
    source_key:
      type: string
      label: 'The JSON key that contains the Service/Flavor definition'
    exposed_key:
      type: string
      label: 'The field property we expose for the Strawberryfield'

strawberryfield.strawberry_keynameprovider.jmespath:
  type: config_object
  label: 'Strawberry Key Name Provider JMesPath specific config'
  mapping:
    source_key:
      type: string
      label: 'A Comma separated string containing one or more JMESPaths '
    exposed_key:
      type: string
      label: 'The field property we expose for the Strawberryfield'

strawberryfield.storage_settings:
  type: config_object
  label: 'Strawberry Storage specific config'
  mapping:
    file_scheme:
      type: string
      label: 'Storage Scheme for Persisting Files'
    object_file_scheme:
      type: string
      label: 'Storage Scheme for Persisting Digital Objects in JSON format'

strawberryfield.archipelago_solr_settings:
  type: config_object
  label: 'Important Solr Settings for Archipelago'
  mapping:
    ado_type:
      type: strawberryfield.archipelago_solr_settings.field_config
      label: 'Source for Archipelago Digital Object Type'

strawberryfield.archipelago_solr_settings.field_config:
  type: mapping
  label: 'Field Config for Archipelago Solr Settings'
  mapping:
    index_id:
      type: string
      label: 'ID of Solr Index'
    field:
      type: string
      label: 'Solr Field'

plugin.plugin_configuration.search_api_datasource.strawberryfield_flavor_datasource:
  type: mapping
  label: 'Strawberryfield Flavor datasource configuration'
  mapping:
    bundles:
      type: mapping
      label: 'Bundles bearing Strawberryfields'
      mapping:
        default:
          type: boolean
          label: 'Whether to exclude (TRUE) or include (FALSE) the selected bundles bearing a Strawberryfield.'
        selected:
          type: sequence
          label: 'The selected bundles'
          orderby: value
          sequence:
            type: string
            label: 'A bundle machine name'
    languages:
      type: mapping
      label: 'Languages'
      mapping:
        default:
          type: boolean
          label: 'Whether to exclude (TRUE) or include (FALSE) the selected languages.'
        selected:
          type: sequence
          label: 'The selected languages'
          orderby: value
          sequence:
            type: string
            label: 'A language code'
field.widget.settings.strawberry_textarea:
  type: config_object
  label: 'Strawberry Textarea Widget Schema'
  mapping:
    placeholder:
      type: string
      label: 'Placeholder'
    rows:
      type: string
      label: 'Rows'
field.value.strawberryfield_field:
  type: mapping
  label: 'Strawberryfield Value'
  mapping:
    value:
      type: string
      label: 'Strawberryfield Metadata'

strawberryfield.filepersister_service_settings:
  type: config_object
  label: 'Archipelago IIIF Server configurations'
  mapping:
    extractmetadata:
      type: boolean
      label: 'Whether to run (TRUE) or to skip (FALSE) file identification directly on file persistence.'
    exif_exec_path:
      type: string
      label: 'Exifinfo binary full executable path'
    fido_exec_path:
      type: string
      label: 'FIDO binary full executable path'